In [1]:
import pandas as pd
import lxml
#libs necessárias para puxar a tabela

In [2]:
files = pd.read_html("https://www.undp.org/pt/brazil/idhm-munic%C3%ADpios-2010")

In [3]:
df = files[0] #A lib puxa todas as tabelas e transforma em lista. Pegamos a primeira - e única.

In [4]:
df.head(10) #primeiras 10 linhas

,Ranking IDHM 2010,Município,IDHM 2010,IDHM Renda 2010,IDHM Longevidade 2010,IDHM Educação 2010
0,1 º,São Caetano do Sul (SP),862,0891,0887,811
1,2 º,Águas de São Pedro (SP),854,0849,0890,825
2,3 º,Florianópolis (SC),847,0870,0873,800
3,4 º,Balneário Camboriú (SC),845,0854,0894,789
4,4 º,Vitória (ES),845,0876,0855,805
5,6 º,Santos (SP),840,0861,0852,807
6,7 º,Niterói (RJ),837,0887,0854,773
7,8 º,Joaçaba (SC),827,0823,0891,771
8,9 º,Brasília (DF),824,0863,0873,742
9,10 º,Curitiba (PR),823,0850,0855,768

In [5]:
df[["Município", "Estado"]] = df['Município'].str.split("(", expand=True) #ajuste para separar as colunas de Estado

In [6]:
df

,Ranking IDHM 2010,Município,IDHM 2010,IDHM Renda 2010,IDHM Longevidade 2010,IDHM Educação 2010,Estado
0,1 º,São Caetano do Sul,862,0891,0887,811,SP)
1,2 º,Águas de São Pedro,854,0849,0890,825,SP)
2,3 º,Florianópolis,847,0870,0873,800,SC)
3,4 º,Balneário Camboriú,845,0854,0894,789,SC)
4,4 º,Vitória,845,0876,0855,805,ES)
...,...,...,...,...,...,...,...
5560,5560 º,Uiramutã,453,0439,0766,276,RR)
5561,5562 º,Marajá do Sena,452,0400,0774,299,MA)
5562,5563 º,Atalaia do Norte,450,0481,0733,259,AM)
5563,5564 º,Fernando Falcão,443,0417,0728,286,MA)
5564,5565 º,Melgaço,418,0454,0776,207,PA)

In [7]:
df["Estado"] = df['Estado'].str.replace(")", "") #retirando o parênteses que ficou.

/tmp/ipykernel_444/2566962616.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Estado"] = df['Estado'].str.replace(")", "") #retirando o parênteses que ficou.

In [8]:
df.to_csv("pnud_data.csv", index=False, sep=";") #salvando em CSV